body {
    padding: 50px;
    background: #9CDE23 url(../images/Untitled.png) no-repeat;
}

#container {
    border: 5px outset black;
    width: 1200px;
    height: 500px;
    top: 105px;
    left:95px;
    position: absolute;
}

#scoreBoardSvg {
    position: absolute;
    left: 125px;
    top: 31px;
    z-index: 2;
    border-style: inset;
    border-color: white;
    border-width: 5px;
}
#scoreCounterSvg {
    position: absolute;
    left: 1050px;
    top: 31px;
    z-index: 2;
    border-style: inset;
    border-color: white;
    border-width: 5px;
}